.box {
  border: 1px solid black;
  position: absolute;
}

.box-size-controlle {
  position: absolute;
  top: 100%;
  right: 0;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 30px solid black;
  transform: translateY(-100%);
}
