<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Hello World!</title>
		<link rel="stylesheet" type="text/css" href="./style/style.css">
		<script>window.$ = window.jQuery = require('jquery');</script>
	</head>
	<body>
		
		<main>
			<div class='my_cards_card_1'></div>
			<div class='my_cards_card_2'></div>
		</main>
		<div class="controls">
			<div class="my_cards_card_1_control">
				<span>Card 1 control</span>
				<button class="top">top</button>
				<button class="bottom">bottom</button>
				<button class="left">left</button>
				<button class="right">right</button>
			</div>
			<div class="my_cards_card_2_control">
				<span>Card 2 control</span>
				<button class="top">top</button>
				<button class="bottom">bottom</button>
				<button class="left">left</button>
				<button class="right">right</button>
			</div>
			<input class="increase" type="number" value="1" min="1" max="50">
			<button id="quite">click</button>
		</div>
		<script>
			require('./js/renderer.js')
		</script>
	</body>
</html>
