main {
	height: 600px;
	width: 600px;
	border: 10px solid black;
	position: relative;
}
.my_cards_card_1_control button,
.my_cards_card_2_control button
{
	display: inline-block;
	width: 70px;
	margin: 10px;
}

.my_cards_card_1_control,
.my_cards_card_2_control {
	display: inline-block;
	position: relative;
	width: 100px;
	border: 1px solid black;
}

.my_cards_card_1 {
	position: absolute;
	height: 53px;
	width: 40px;
	border: 2px solid black;
	top: 194px;
	left: 189px;
}
.my_cards_card_2 {
	position: absolute;
	height: 53px;
	width: 40px;
	border: 2px solid black;
	top: 194px;
	left: 234px;
}